*{
    padding:0;
    margin:0;
}

body{
    background-color: blue;
    display:flex;
    justify-content:center;
    align-items: center;
}
.wrapper{
    width:90vw;
    max-width: 28em;
    position:absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
}
.container{
  background-color: white;
  font-size:1em;
  width:100%;
  padding:3em ;
}
h2{
    font-size: 2em;
    text-align:center;
    margin-bottom:1.5em;

}
.input-wrapper input{
    display:block;
    width:100%;
    font-size:1.25em;
    padding :0.6em 0.5em;

}
.input-wrapper label{
    display:block;
    font-size:1.1em;
    font-weight:bold;
    margin-bottom:0.25em;

}
.input-wrapper:not(:last-child) input{
    margin-bottom:1.2em;
}